.hero {
    position: relative;
    padding-top: 60px;
    background-color: $main-bg-color;
}
.hero__container {
    position: relative;

    @media screen and (max-width: 767px) {
        background-image: url(../images/hero/bg-bullets.svg);
    }
    @media screen and (min-width: 768px) {
        background-image: url(../images/hero/bg-bullets-tablet.svg);
    }

    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero__flex-container {
    display: flex;
    justify-content: space-between;
}
.hero__title-wrapp {
    max-width: 260px;
}

.hero__info-wrapp {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.hero__numbers {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondary-color;
}
.hero__info {
    font-size: 8px;
    line-height: 1.25;

    text-align: right;

    color: $main-color;

    &--indent {
        margin-bottom: 20px;
    }
}

.hero__title {
    font-family: $secondary-font;

    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 32px;

    color: $main-color;
}
.hero__decor {
    font-size: 33px;
}
.hero__anchers {
    padding-bottom: 240px;
}
.hero__btn {
    @include secondary__button(8px, 1.25, 64px, 24px);
}
.hero__link {
    font-family: $main-font;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;

    text-decoration-line: underline;

    margin-left: 8px;

    color: $buttons-bg-color;
}
.hero__img-wrapp {
    position: absolute;
    bottom: -53px;
    left: 17%;
}
.hero__img {
    width: 100%;

    display: block;
}
