<div class="modal" data-modal="6">
  <button
    class="locations__modal-button js-modal-close"
    id="'modal-location-close"
    type="button"
  >
    <svg class="locations__modal-icon" width="16" height="16">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
  <p class="locations__modal-title">Our Locations</p>

  <iframe
    class="locations__modal-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.0576886198382!2d-73.95692268436034!3d40.672697847955384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1669490021533!5m2!1sru!2sua"
    width="224"
    height="199"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <button class="locations__modal-btn" type="button">Open map</button>
</div>
