<header class="header">
  <div class="container">
    <div class="header__mobile-wrapp js-menu-container">
      <div class="logo">
        <img
          class="logo__img"
          src="./images/logo/logo_x1.png"
          alt="Ice cream logo"
        />
      </div>
      <button class="logo__burger js-open-menu js-close-menu" type="button">
        <svg class="" width="32" height="32">
          <use class="burger" href="./images/sprite.svg#burger"></use>
          <use class="cross" href="./images/sprite.svg#cross-close"></use>
        </svg>
      </button>
      <div class="header__nav-wrapp">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav_link" href="">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav_link" href="">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a class="nav_link" href="">Our products</a>
            </li>
            <li class="nav__item">
              <a class="nav_link" href="">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="header__btn" type="button">Buy now</button>
      </div>
    </div>
  </div>
</header>
