<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__decor"> passion</span>
    </h1>
    <div class="hero__anchers">
      <button class="hero__btn" type="button">Products</button>
      <a class="hero__link" href="">How it’s made?</a>
    </div>
    <div class="hero__img-wrapp">
      <img
        class="hero__img"
        src="./images/hero/ice_cream.png"
        alt="Ice cream with smiles"
      />
    </div>
  </div>
</section>
